
a,
aside,
code,
div,
footer,
h1,
h2,
h3,
header,
html,
li,
nav,
p,
pre,
span,
table,
tbody,
td,
th,
thead,
tr,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  padding: 0;
  vertical-align: baseline;
}

img {
  padding: 0;
  font-size: 100%;
}

aside,
footer,
header,
main,
nav,
pre {
  display: block;
}

html {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: 400;
}

*,
::after,
::before,
:after,
:before {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
button,
img {
  margin: 0;
  border: 0;
}

button {
  background: 0 0;
  color: inherit;
  font: inherit;
  padding: 0;
  width: auto;
  text-align: left;
  -webkit-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border-radius: 0;
}

button:disabled {
  cursor: default;
}

.shell-wrapper button::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.shell-wrapper svg,
svg {
  display: inline-block;
}

img {
  max-width: 100%;
  vertical-align: top;
}

pre {
  white-space: pre-wrap;
  tab-size: 2;
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url(https://api.mapbox.com/mapbox-assembly/fonts/opensans-regular.v1.woff2) format("woff2"),
    url(https://api.mapbox.com/mapbox-assembly/fonts/opensans-regular.v1.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src: url(https://api.mapbox.com/mapbox-assembly/fonts/opensans-light.v1.woff2) format("woff2"),
    url(https://api.mapbox.com/mapbox-assembly/fonts/opensans-light.v1.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  src: url(https://api.mapbox.com/mapbox-assembly/fonts/opensans-italic.v1.woff2) format("woff2"),
    url(https://api.mapbox.com/mapbox-assembly/fonts/opensans-italic.v1.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url(https://api.mapbox.com/mapbox-assembly/fonts/opensans-bold.v1.woff2) format("woff2"),
    url(https://api.mapbox.com/mapbox-assembly/fonts/opensans-bold.v1.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: italic;
  src: url(https://api.mapbox.com/mapbox-assembly/fonts/opensans-bolditalic.v1.woff2) format("woff2"),
    url(https://api.mapbox.com/mapbox-assembly/fonts/opensans-bolditalic.v1.woff) format("woff");
}

.prose table:not(.unprose) {
  width: 100%;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: separate;
  border: 1px solid #c6d2e1;
  border-radius: 4px;
  margin-bottom: 18px;
}

.prose table td:not(.unprose),
.prose table th:not(.unprose) {
  text-align: left;
  vertical-align: top;
  padding: 12px;
  border-style: solid;
  border-color: #c6d2e1;
  border-left-width: 1px;
  border-bottom-width: 1px;
}

.prose table td:first-child:not(.unprose),
.prose table th:first-child:not(.unprose) {
  border-left-width: 0;
}

.prose table :not(thead) tr:last-of-type td:not(.unprose),
.prose table :not(thead) tr:last-of-type th:not(.unprose) {
  border-bottom-width: 0;
}

.link {
  cursor: pointer;
  color: #4264fb;
  transition: color 0.125s;
}

.link:hover {
  color: #314ccd;
}

.link:disabled {
  pointer-events: none;
  cursor: default;
  color: rgba(147, 167, 191, 0.45);
}

body {
  color: #1f3349;
  font-size: 15px;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.prose code:not(.unprose),
.prose pre:not(.unprose) {
  font-family: "Menlo", "Bitstream Vera Sans Mono", "Monaco", "Consolas",
    monospace;
  white-space: pre-wrap;
  font-size: 90%;
  line-height: 1.5em;
  background: rgba(31, 51, 73, 0.05);
  border-radius: 3px;
}

.prose pre:not(.unprose) {
  padding: 12px;
  overflow: auto;
  margin-bottom: 12px;
}

.prose pre code:not(.unprose) {
  background: 0 0;
  padding: 0;
}

.prose code:not(.unprose) {
  padding: 2px 4px;
}

.txt-bold {
  font-weight: 700 !important;
}

.txt-l {
  font-size: 18px;
  line-height: 30px;
}

.txt-m {
  font-size: 15px;
  line-height: 24px;
}

.prose img:not(.unprose),
.prose p:not(.unprose) {
  margin-bottom: 12px;
}

.txt-uppercase {
  text-transform: uppercase !important;
}

.prose h1:not(.unprose) {
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  margin-bottom: 12px;
  padding-top: 36px;
}

.prose h2:not(.unprose),
.prose h3:not(.unprose) {
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  margin-bottom: 12px;
  padding-top: 24px;
}

.prose h3:not(.unprose) {
  font-size: 30px;
  line-height: 36px;
}

.prose a:not(.unprose) {
  color: #4264fb;
  text-decoration: underline;
}

.prose a:not(.unprose):hover {
  color: #314ccd;
}

.prose h1:first-child:not(.unprose),
.prose h2:first-child:not(.unprose),
.prose h3:first-child:not(.unprose) {
  padding-top: 0;
}

.prose :last-child:not(.unprose) {
  margin-bottom: 0;
}

.align-t {
  vertical-align: top !important;
}

.border-b {
  border-style: solid;
  border-bottom-width: 1px;
}

.round-full {
  border-radius: 9999px !important;
}

.icon {
  display: block;
  fill: currentColor;
  height: 1em;
  width: 1em;
}

.limiter {
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
}

@media screen and (min-width: 640px) {
  .limiter {
    margin-left: auto;
    margin-right: auto;
    width: 91.666666666%;
    max-width: 1200px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 800px) {
  .limiter {
    width: 83.33333333%;
  }
}

.grid {
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.col {
  display: block;
  max-width: 100%;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
}

.col--12 {
  -webkit-flex: none;
  flex: none;
  width: 100% !important;
}

.block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
}

.none {
  display: none !important;
}

.fixed {
  position: fixed !important;
}

.right {
  right: 0 !important;
}

.bottom {
  bottom: 0 !important;
}

.z5 {
  z-index: 5 !important;
}

.flex-parent {
  display: -webkit-flex !important;
  display: flex !important;
}

.flex-parent--center-main {
  -webkit-justify-content: center !important;
  justify-content: center !important;
}

.flex-parent--center-cross {
  -webkit-align-items: center !important;
  align-items: center !important;
}

.flex-parent--space-between-main {
  -webkit-justify-content: space-between !important;
  justify-content: space-between !important;
}

.flex-child {
  display: block;
  max-width: 100%;
}

.flex-child--grow {
  -webkit-flex-grow: 1 !important;
  flex-grow: 1 !important;
  min-width: 0;
}

.flex-child--no-shrink {
  -webkit-flex-shrink: 0 !important;
  flex-shrink: 0 !important;
}

.grid--gut60 {
  margin-left: -60px;
}

.grid--gut60>.col {
  padding-left: 60px;
}

.my6 {
  margin-top: 6px !important;
  margin-bottom: 6px !important;
}

.my24 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.mx-neg12 {
  margin-left: -12px !important;
  margin-right: -12px !important;
}

.mx24 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}

.mb3 {
  margin-bottom: 3px !important;
}

.mb6 {
  margin-bottom: 6px !important;
}

.mb18,
.prose pre {
  margin-bottom: 18px !important;
}

.py6 {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.px0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.px6 {
  padding-left: 6px !important;
  padding-right: 6px !important;
}

.px12 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.pt3 {
  padding-top: 3px !important;
}

.pr6 {
  padding-right: 6px !important;
}

.pb12 {
  padding-bottom: 12px !important;
}

.w60 {
  width: 60px !important;
}

.w-full {
  width: 100% !important;
}

.h60 {
  height: 60px !important;
}

@media screen and (min-width: 640px) {
  .mr36-mm {
    margin-right: 36px !important;
  }

  .py3-mm {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
  }

  .px0-mm {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .px12-mm {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }

  .w180-mm {
    width: 180px !important;
  }
}

@media screen and (min-width: 800px) {
  .w240-ml {
    width: 240px !important;
  }
}

@media screen and (min-width: 1200px) {
  .mb6-mxl {
    margin-bottom: 6px !important;
  }

  .mb36-mxl {
    margin-bottom: 36px !important;
  }
}

.prose pre::-webkit-scrollbar,
.scroll-styled::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: 0 0;
}

.prose pre::-webkit-scrollbar:hover,
.scroll-styled::-webkit-scrollbar:hover {
  background: 0 0;
}

.scroll-styled::-webkit-scrollbar-track {
  background: 0 0;
}

.scroll-styled::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-color: transparent;
  width: 6px;
  border-radius: 3px;
}

.prose pre::-webkit-scrollbar-thumb:hover,
.scroll-styled::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.35);
}

.prose pre::-webkit-scrollbar-track,
.prose pre::-webkit-scrollbar-track:hover,
.scroll-styled::-webkit-scrollbar-track:hover {
  background: 0 0;
}

.events-none {
  -webkit-touch-callout: none;
  pointer-events: none;
}

.scroll-auto {
  overflow: auto !important;
  -webkit-overflow-scrolling: touch;
}

@font-face {
  font-family: "Cera";
  font-weight: 700;
  src: url(https://api.mapbox.com/mapbox-assembly/fonts/CeraPRO-Bold.v1.woff2) format("woff2"),
    url(https://api.mapbox.com/mapbox-assembly/fonts/CeraPRO-Bold.v1.woff) format("woff");
}

@font-face {
  font-family: "Cera";
  font-style: italic;
  src: url(https://api.mapbox.com/mapbox-assembly/fonts/CeraPRO-BoldItalic.v1.woff2) format("woff2"),
    url(https://api.mapbox.com/mapbox-assembly/fonts/CeraPRO-BoldItalic.v1.woff) format("woff");
}

.txt-fancy {
  font-family: "Cera", "Open Sans", sans-serif !important;
  font-weight: 700;
}

.btn--blue {
  background-color: #4264fb;
}

.btn--blue:hover,
.shell-wrapper .shell-btn:hover {
  background-color: #314ccd;
}

.color-gray {
  color: #5b7897 !important;
}

.color-gray-light {
  color: #c6d2e1 !important;
}

.color-blue {
  color: #4264fb !important;
}

.color-darken75 {
  color: rgba(31, 51, 73, 0.75) !important;
}

.color-white {
  color: #fff !important;
}

.bg-blue-faint {
  background-color: #edf0fd !important;
}

.link--gray {
  color: #5b7897;
}

.link--gray:hover {
  color: #23374d;
}

.border--darken10 {
  border-color: rgba(31, 51, 73, 0.1) !important;
}

.shadow-darken25 {
  box-shadow: 0 0 10px 2px rgba(31, 51, 73, 0.25) !important;
}

.color-blue-on-hover:hover {
  color: #4264fb !important;
}

@media screen and (min-width: 640px) {
  .block-mm {
    display: block !important;
  }

  .inline-block-mm {
    display: inline-block !important;
  }

  .none-mm {
    display: none !important;
  }

  .viewport-almost-mm {
    height: 90vh !important;
  }

  .flex-parent-mm {
    display: -webkit-flex !important;
    display: flex !important;
  }
}

@media screen and (min-width: 1200px) {

  .col--4-mxl,
  .col--8-mxl {
    -webkit-flex: none;
    flex: none;
    width: 33.3333% !important;
  }

  .col--8-mxl {
    width: 66.6666% !important;
  }

  .viewport-almost-mxl {
    height: 90vh !important;
  }
}

@media screen and (min-width: 640px) {
  .limiter--wide {
    max-width: 1800px !important;
  }
}

@media screen and (min-width: 800px) {
  .limiter--wide {
    width: 91.666666666% !important;
  }
}

#docs-content .prose h1 {
  margin-top: 6px;
  margin-bottom: 30px;
  font-size: 36px;
}

#docs-content .prose h2:not(.unprose) {
  font-weight: 400 !important;
  font-size: 30px;
  border-top: 1px solid !important;
  border-color: #d6dee8 !important;
  padding-top: 30px;
  margin: 36px 0 18px;
}

#docs-content .prose h3:not(.unprose) {
  font-weight: 400;
  font-size: 24px;
}

.prose pre[class*="language-"] {
  max-height: 300px;
  overflow: auto;
}

.prose pre::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-color: transparent;
  width: 6px;
  border-radius: 3px;
}

@media screen and (min-width: 640px) {
  .scroll-auto-mm {
    overflow: auto !important;
    -webkit-overflow-scrolling: touch;
  }

  .sticky-mm {
    position: -webkit-sticky;
    position: sticky;
  }
}

@media screen and (min-width: 1200px) {
  .sticky-mxl {
    position: -webkit-sticky;
    position: sticky;
  }

  .scroll-auto-mxl {
    overflow: auto !important;
    -webkit-overflow-scrolling: touch;
  }

  .dr-ui--page-layout-aside {
    -webkit-order: 2;
    order: 2;
  }

  .dr-ui--page-layout-aside .dr-ui--on-this-page li {
    font-size: 14px;
    line-height: 1.4;
  }
}

@media screen and (max-width: 1200px) {
  .dr-ui--page-layout-aside .dr-ui--on-this-page li ul {
    display: none !important;
  }
}

code[class*="language-"],
pre[class*="language-"] {
  color: #273d56;
  background: 0 0;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
  background: #272822;
}

.token.punctuation {
  color: #273d56;
}

.token.property {
  color: #314ccd;
}

.token.boolean {
  color: #7753eb;
}

.token.string {
  color: #ce2c69;
}

.token.operator {
  color: #273d56;
}

.token.class-name,
.token.function {
  color: #385af5;
}

.token.keyword {
  color: #314ccd;
}

.shell-wrapper {
  box-sizing: border-box;
}

.shell-wrapper *,
.shell-wrapper ::after,
.shell-wrapper ::before {
  box-sizing: inherit;
}

.shell-wrapper {
  color: #1f3349;
  font-size: 15px !important;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.shell-wrapper button {
  background: 0 0;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  width: auto;
  text-align: left;
  -webkit-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.shell-wrapper a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url(https://api.mapbox.com/mapbox-assembly/fonts/opensans-regular.v1.woff2) format("woff2"),
    url(https://api.mapbox.com/mapbox-assembly/fonts/opensans-regular.v1.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url(https://api.mapbox.com/mapbox-assembly/fonts/opensans-bold.v1.woff2) format("woff2"),
    url(https://api.mapbox.com/mapbox-assembly/fonts/opensans-bold.v1.woff) format("woff");
}

.shell-wrapper .shell-txt-bold {
  font-weight: 700 !important;
}

.shell-wrapper .shell-txt-s {
  font-size: 12px !important;
  line-height: 18px;
}

.shell-wrapper .shell-txt-nowrap {
  white-space: nowrap !important;
}

.shell-wrapper .shell-align-l {
  text-align: left !important;
}

.shell-wrapper .shell-align-center {
  text-align: center !important;
}

.shell-wrapper .shell-btn {
  display: inline-block;
  background-color: #448ee4;
  color: #fff;
  border-radius: 18px;
  padding: 6px 12px;
  font-weight: 700;
  text-align: center;
  transition: background-color 0.125s, border-color 0.125s, color 0.125s;
}

.shell-wrapper .shell-btn--white {
  background-color: #fff !important;
}

.shell-wrapper .shell-btn--white:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.shell-wrapper .shell-link {
  cursor: pointer;
  color: #448ee4;
  transition: color 0.125s;
}

.shell-wrapper .shell-link:hover {
  color: #346db0;
}

.shell-wrapper .shell-border-t {
  border-top: 1px solid !important;
}

.shell-wrapper .shell-icon {
  display: block;
  fill: currentColor;
  height: 18px;
  width: 18px;
}

.shell-wrapper .shell-icon--l {
  height: 36px !important;
  width: 36px !important;
}

.shell-wrapper .shell-grid {
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.shell-wrapper .shell-block {
  display: block !important;
}

.shell-wrapper .shell-none {
  display: none !important;
}

.shell-wrapper .shell-absolute {
  position: absolute !important;
}

.shell-wrapper .shell-relative {
  position: relative !important;
}

.shell-wrapper .shell-top {
  top: 0 !important;
}

.shell-wrapper .shell-bottom {
  bottom: 0 !important;
}

.shell-wrapper .shell-left {
  left: 0 !important;
}

.shell-wrapper .shell-right {
  right: 0 !important;
}

.shell-wrapper .shell-z1 {
  z-index: 1 !important;
}

.shell-wrapper .shell-z2 {
  z-index: 2 !important;
}

.shell-wrapper .shell-z5 {
  z-index: 5 !important;
}

.shell-flex-parent,
.shell-wrapper .shell-flex-parent {
  display: -webkit-flex;
  display: flex;
}

.shell-flex-parent--column {
  -webkit-flex-direction: column !important;
  flex-direction: column !important;
}

.shell-wrapper .shell-flex-parent--center-cross {
  -webkit-align-items: center !important;
  align-items: center !important;
}

.shell-wrapper .shell-flex-parent--end-main {
  -webkit-justify-content: flex-end !important;
  justify-content: flex-end !important;
}

.shell-flex-child,
.shell-wrapper .shell-flex-child {
  display: block;
  max-width: 100%;
}

.shell-flex-child--grow,
.shell-wrapper .shell-flex-child--grow {
  -webkit-flex-grow: 1 !important;
  flex-grow: 1 !important;
  min-width: 0;
}

.shell-flex-child--no-shrink {
  -webkit-flex-shrink: 0 !important;
  flex-shrink: 0 !important;
}

.shell-wrapper .shell-ml12 {
  margin-left: 12px !important;
}

.shell-wrapper .shell-ml-neg6 {
  margin-left: -6px !important;
}

.shell-wrapper .shell-mt24 {
  margin-top: 24px !important;
}

.shell-wrapper .shell-mr18 {
  margin-right: 18px !important;
}

.shell-wrapper .shell-mb6 {
  margin-bottom: 6px !important;
}

.shell-wrapper .shell-ml6 {
  margin-left: 6px !important;
}

.shell-wrapper .shell-p12 {
  padding: 12px !important;
}

.shell-wrapper .shell-py12 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.shell-wrapper .shell-py24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.shell-wrapper .shell-px24 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.shell-wrapper .shell-pb24 {
  padding-bottom: 24px !important;
}

.shell-wrapper .shell-w-full {
  width: 100% !important;
}

@media screen and (min-width: 640px) {
  .shell-wrapper .shell-none-mm {
    display: none !important;
  }

  .shell-wrapper .shell-flex-parent-mm {
    display: -webkit-flex !important;
    display: flex !important;
  }

  .shell-wrapper .shell-mb0-mm {
    margin-bottom: 0 !important;
  }

  .shell-wrapper .shell-align-l-mm {
    text-align: left !important;
  }
}

@media screen and (min-width: 800px) {
  .shell-wrapper .shell-ml12-ml {
    margin-left: 12px !important;
  }

  .shell-wrapper .shell-py0-ml {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .shell-wrapper .shell-py48-ml {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
  }
}

@media screen and (min-width: 1200px) {
  .shell-wrapper .shell-ml18-mxl {
    margin-left: 18px !important;
  }
}

.shell-wrapper .shell-transition {
  transition: all 0.125s;
}

.shell-wrapper .shell-clip {
  overflow: hidden !important;
}

.shell-wrapper .shell-mb-logo__wrapper {
  height: 42px;
}

.shell-wrapper .shell-color-blue {
  color: #4264fb !important;
}

.shell-wrapper .shell-color-gray {
  color: #5b7897 !important;
}

.shell-wrapper .shell-color-white {
  color: #fff !important;
}

.shell-wrapper .shell-color-pink {
  color: #ed6498 !important;
}

.shell-wrapper .shell-bg-white {
  background-color: #fff !important;
}

.shell-wrapper .shell-bg-pink {
  background-color: #ed6498 !important;
}

.shell-wrapper .shell-border--gray-light {
  border-color: #c6d2e1 !important;
}

.shell-wrapper .shell-shadow-darken10-bold {
  box-shadow: 0 0 30px 6px rgba(31, 51, 73, 0.1) !important;
}

.shell-wrapper .shell-color-gray-dark-on-hover:hover {
  color: #23374d !important;
}

.shell-header-buffer {
  padding-top: 66px;
}

@media (min-width: 640px) {
  .shell-header-buffer {
    padding-top: 84px;
  }
}

.shell-animated-menu,
.shell-mobile-nav__backdrop {
  transition: opacity 0.25s, visibility 0.25s, transform 0.25s,
    -webkit-transform 0.25s;
}

.shell-mobile-nav__backdrop {
  will-change: opacity;
}

.shell-animated-menu {
  pointer-events: none;
  -webkit-transform: translate(0, 0, 0) scale(0.95);
  transform: translate(0, 0, 0) scale(0.95);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.shell-animated-menu,
.shell-mobile-nav__backdrop {
  opacity: 0;
  visibility: hidden;
}

.shell-mobile-nav__trigger__bar--bottom,
.shell-mobile-nav__trigger__bar--middle,
.shell-mobile-nav__trigger__bar--top {
  opacity: 1;
  transition: opacity 0.25s, transform 0.25s;
  transition: opacity 0.25s, transform 0.25s, -webkit-transform 0.25s;
  -webkit-transform: translateY(0) rotate(0deg) scale(1);
  transform: translateY(0) rotate(0deg) scale(1);
}

.shell-mobile-nav__trigger__bar--middle {
  -webkit-transform-origin: 9px 9px;
  transform-origin: 9px 9px;
}

.shell-mobile-nav__trigger__bar--top {
  -webkit-transform-origin: 9px 5px;
  transform-origin: 9px 5px;
}

.shell-mobile-nav__trigger__bar--bottom {
  -webkit-transform-origin: 9px 13px;
  transform-origin: 9px 13px;
}

.footer {
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-direction: row;
  flex-direction: row;
}
